
        .sriracha-regular {
            font-family: "Sriracha", cursive;
            font-weight: 400;
            font-style: normal;
        }

        body {
            background-color: rgb(234, 165, 248);
        }

        .header-text {
            text-align: center;
            color: rgb(0, 0, 0);
        }

        .header-container {
            margin-top: 2%;
            background-color: rgb(255, 255, 255);
            padding: 1%;
            border-radius: 10px;
            width: 20%;
        }

        .flex-header {
            display: flex;
            justify-content: center;
        }

        .img-container {
            padding: 1%;
        }

        .nav-menu-container {
            background-color: azure;
            margin-top: 1%;
            margin-bottom: 1%;
            padding: 1%;
            border-radius: 10px;
        }

        .nav-menu-item {
            margin-left: 1%;
            margin-right: 1%;
            text-decoration: none;
            color:rgb(7, 0, 0)
        }